.header {
  padding-top: 40px;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--layer-3);
  /* transition: box-shadow var(--transition-time); */
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  z-index: var(--layer-2);
}

.header__logo {
  flex-shrink: 0;
  z-index: var(--layer-3);
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.header__contacts {
  flex-grow: 1;
}

@media (width > 992px) {
  .actions__list {
    margin-left: clamp(30px, -1470px + 103.333vw, 185px);
  }
}

@media (width <= 992px) {
  .header__menu {
    position: fixed;
    top: 0px;
    right: -100vw;
    z-index: var(--layer-2);
    min-width: 100%;
    min-height: 422px;
    padding-top: 99px;
    padding-left: 19px;
    padding-bottom: 40px;
    align-items: start;
    background-color: var(--color-dark-gray);
    box-shadow: 0 12px 27px 0 var(--color-black);
    opacity: 0;
    visibility: hidden;
    transition:
      right var(--transition-time),
      opacity var(--transition-time),
      visibility var(--transition-time);

    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
  }
  .header__container {
    margin: 0;
    justify-content: normal;
  }

  .header__menu--open {
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  .contacts__list,
  .actions__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .contacts__geo-icon {
    z-index: var(--layer-1);
    margin-right: 10px;
  }

  .header__logo {
    width: 162px;
    height: 37px;
    margin-right: auto;
  }

  .actions__list {
    margin: 0;
  }
}
