.hero__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url("../../images/hero-bg.png");
}

.hero__body {
  display: flex;
  flex-direction: row;
}

.hero__left {
  display: flex;
  flex-direction: column;
}

.hero__title {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
}

.hero__text-md {
  font-weight: 400;
  font-size: 41px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero__p-geo {
  display: flex;
  position: relative;
}

.hero__span {
  position: absolute;
  margin-left: 15px;
}

.hero__span::after {
  content: "м. Лубянка";
  background-color: var(--color-gray-medium);
  border-radius: 20px;
  justify-content: center;
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 113px;
  height: 27px;
  font-size: 15px;
  font-weight: 400;
  text-transform: none;
  margin: 15px;
  top: -15px;
}

.hero__benefits {
  display: flex;
  position: relative;
  left: auto;
  padding-top: 70px;
}

.benefits__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.benefits__icon {
  padding: 5px;
}

.benefits__item {
  display: flex;
  align-items: center;
}

.hero__button {
  display: flex;
  padding-top: 73px;
}

.hero__right {
  display: flex;
  position: relative;
}

.hero__img {
  display: flex;
  position: relative;
  margin-top: -210px;
  left: -130px;
  object-fit: cover;
  object-position: top center;
  max-height: 844px;
}

.hero__tag {
  z-index: var(--layer-3);
}

.hero__footer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footer__benefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.footer__item {
  display: flex;
  align-items: center;
  gap: 90px;
  padding: 30px 30px 30px 0;
}

.footer__img {
  padding-left: 45px;
  position: relative;
}

.item__odd {
  background-color: var(--color-dark-gray);
}

.item__even {
  background-color: var(--color-dark-card);
}
