:root {
  /* font-family */
  --font-family: "Muller";

  /* colors */
  --main-color: ;
  --accent-color:;
  --bg-color: #1a0b0b;
  --secondary-color:;

  /* width */
  --container-width: 1830px;
}
