@font-face {
  font-family: "Muller";
  src: local("Muller Regular"), local("Muller-Regular");
  src: url("../../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Medium"), local("Muller-Medium");
  src: url("../../fonts/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Bold"), local("Muller-Bold");
  src: url("../../fonts/MullerBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Extra Bold"), local("Muller-Extra-Bold");
  src: url("../../fonts/MullerExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Black"), local("Muller-Black");
  src: url("../../fonts/MullerBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
